Django==5.1.1
asgiref==3.8.1
django-environ==0.11.2
djangorestframework==3.15.2
drf-spectacular==0.28.0
django-allauth==0.60.1
django-axes==6.4.0
django-csp==3.7
whitenoise==6.6.0
sentry-sdk==1.40.4
python-dotenv==1.0.0
Pillow==11.0.0
pytz==2024.2
pytest==8.0.2
pytest-django==4.8.0
pytest-cov==4.1.0
coverage==7.4.0
